<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../templates/head.ejs') %>
    <title>Produto criado</title>
</head>
<body>
    <%- include('../templates/header.ejs') %>

    <main>
        <h2>Processo finalizado</h2>
        <p>Produto: <%= data.name %> cadastrado com sucesso</p>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>